* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}





.container {

max-width:  1100px;
margin: 0 auto;
padding: 0px ;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
/*larghezza col*/
.col{
    width: calc(100% / 3 );
    padding: 15px;
}
/*serve a lasciare un po di spazio tra un blocco e l' altro*/
.prduct {
    padding-bottom: 20px;
    position: relative;
}
.etichetta{
    position: absolute;
    left: 0;
    bottom: 45px;
    
}
.verde{
    background-color: green;
}
.rosso{
    background-color: red;
}
.prduct img {
    width: 100% ;
}
.etichetta-cuore {
    position: absolute;
    right: 0;
    top: 20px;
    background-color: white;
    width: 15%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuore {
    font-size: 30px;
   
}

.cuore:hover{
    color: red;
}
.prezzo-scontato {
    color: red;
    font-size: 15px;

}
.prezzo-pieno {
    font-size: 15px;
    text-decoration: line-through;
}
.prezzo-base{
    font-size: 15px;
    color: red;
}